* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

form,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 0;
}

button,
input,
select,
textarea {
    font: inherit;
}

button {
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

button:disabled {
    cursor: default;
    pointer-events: none;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}
